In [25]:
import pandas as pd
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from tqdm import tqdm

In [29]:
#Path
#quant_table_path = '/mnt/c/Users/quirosgu/Desktop/Huber/RH119_P1_MeOH_quant.csv'#here put the path to the folder where your quant table is.
metadata_table_path ='/mnt/c/Users/quirosgu/Documents/GitHub/Immuno_plants/data/Inmuno_metadata_final.tsv' #here put the path to the folder where your quant table is.
final_path ='/mnt/c/Users/quirosgu/Documents/GitHub/Immuno_plants/data/'#here put the path to the folder where your want to save your tables and htmls
#experiment = 'RH119' #put the unique code to recognize this set of data

In [30]:
#read the metadata table
metadata_df = pd.read_csv(metadata_table_path, sep='\t')
metadata_df.head()

,ID,Family,Genus,Species,Part,matched_name,taxon.synonyms,NCBITaxonomy,ott_id,query_otol_kingdom,query_otol_phylum,query_otol_class,query_otol_order,query_otol_family,query_otol_genus,query_otol_species
0,Acacia hayesii|L,fabaceae/mim.,Acacia,acacia hayesii,L,Acacia hayesii,"['Acacia acanthophylla', 'Acacia telensis', 'S...",1504162|Acacia hayesii,5785742.0,Archaeplastida,Streptophyta,Magnoliopsida,Fabales,Fabaceae,Acacia,Acacia hayesii
1,Acalypha arvensis|WP,euphorbiaceae,Acalypha,acalypha arvensis,WP,Acalypha arvensis,"['Acalypha arvensis', 'Acalypha arvensis belan...",NaN,3910407.0,Archaeplastida,Streptophyta,Magnoliopsida,Malpighiales,Euphorbiaceae,Acalypha,Acalypha aristata
2,Acrocomia aculeata|L,arecaceae,Acrocomia,acrocomia aculeata,L,Acrocomia aculeata,"['Acrocomia antiguana', 'Acrocomia antioquiens...",169987|Acrocomia aculeata,817259.0,Archaeplastida,Streptophyta,Magnoliopsida,Arecales,Arecaceae,Acrocomia,Acrocomia aculeata
3,Acrostichum aureum|L,pteridaceae,Acrostichum,acrostichum aureum,L,Acrostichum aureum,"['Acrostichum aureum hirsutum', 'Acrostichum a...",29594|Acrostichum aureum,190945.0,Archaeplastida,Streptophyta,Polypodiopsida,Polypodiales,Pteridaceae,Acrostichum,Acrostichum aureum
4,Adelia triloba|AE,euphorbiaceae,Adelia,adelia triloba,AE,Adelia triloba,['Ricinella triloba'],353064|Adelia triloba,856043.0,Archaeplastida,Streptophyta,Magnoliopsida,Malpighiales,Euphorbiaceae,Adelia,Adelia triloba

In [31]:
dff = metadata_df.groupby(['query_otol_family']).count()
dff.shape

(109, 15)

In [32]:

# Reduce DataFrame to unique values in 'Column1'
unique_families = metadata_df['query_otol_family'].unique()
unique_genus = metadata_df['query_otol_genus'].unique()
unique_species = metadata_df['query_otol_species'].unique()

# Create a new DataFrame with only the unique values
dff = pd.DataFrame({'Unique_Families': unique_families})
dfg = pd.DataFrame({'Unique_Genus': unique_genus})
dfs = pd.DataFrame({'Unique_Species': unique_species})

sizef = dff.shape[0]
sizeg = dfg.shape[0]
sizes = dfs.shape[0]

print(f"Number of families: {sizef}")
print(f"Number of genus: {sizeg}")
print(f"Number of species: {sizes}")

Number of families: 109
Number of genus: 264
Number of species: 300

In [33]:
# ocurrences of each family, genus and species:

# Count the occurrences of each value in ''
family_counts = metadata_df['query_otol_family'].value_counts()
family_counts= family_counts.reset_index()
family_counts.columns = ['query_otol_family', 'Count']
family_counts.to_csv(final_path+'family_counts.tsv', sep='\t')

genus_counts = metadata_df['query_otol_genus'].value_counts()
genus_counts= genus_counts.reset_index()
genus_counts.columns = ['query_otol_genus', 'Count']
genus_counts.to_csv(final_path+'genus_counts.tsv', sep='\t')

species_counts = metadata_df['query_otol_species'].value_counts()
species_counts= species_counts.reset_index()
species_counts.columns = ['query_otol_species', 'Count']
species_counts.to_csv(final_path+'speciesfamily_counts.tsv', sep='\t')

family_counts

    query_otol_family  Count
0            Fabaceae     33
1           Rubiaceae     24
2          Asteraceae     17
3             Poaceae     17
4            Moraceae     13
..                ...    ...
104    Chloranthaceae      1
105   Calceolariaceae      1
106       Gunneraceae      1
107     Nyctaginaceae      1
108       Cunoniaceae      1

[109 rows x 2 columns]